.App {
  text-align: center;
}
header {
  text-align: center;
  color: pink;
}

button {
  text-align: center;
  padding: 8px;
  margin: 10px;
  background-color: #4b9fff;
  border: 1px solid blue;
  border-radius: 5px;
}
button:hover {
  background-color: #3a7ac4;
}